/* RESET */
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

.checked{
  font-weight: bold;
  color: green;
  border-radius: 50%;
  border: 1px solid green;
  padding: 5px;
}

.crossed{
  font-weight: bold;
  color: red;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
}

/* UTILITIES */

.bgwhite{
  background-color: rgb(255, 255, 255);
}

.bgblue{
  background-color: rgb(69, 171, 234);
}

.bgorange{
  background-color: rgb(242, 158, 51);
}

.bgpurple{
  background-color: rgb(156, 114, 228);
}

.bglime{
  background-color: rgb(176, 201, 38);
}

.bggreen{
  background-color: rgb(100, 192, 169);
}

.bgpink{
  background-color: rgb(216, 99, 161);
}

.whitetext{
  color: white;
}

.itemtypetext{
  color: white;
  font-size: smaller;
}
.buttonlayout{
  padding-inline-end: 2px;
  border-radius: 5px;
  padding: 5px 10px;
  
}

.listtitle{
  font-size: 25px;
  font-weight: bold;
}


/* SINGLE ELEMENTS */

.logobool{
  padding: 15px 0px 15px 25px;
  vertical-align:middle ;
  width: 80px;
}

header h1 {
  display: inline;
  font-size: 50px;
  vertical-align: middle;  
}

.topcontainer{
  width: 75%;
  margin: auto;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttoncontainer{
  padding: 15px 50px 10px 50px;
}

.bottomcontainer{
  width: 75%;
  margin: auto;
  margin-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.listcontainer{
  padding: 30px 50px 30px 50px;
  
}

.listitem{
  display: block;
  padding-top: 20px;
}

.info{
  margin-left: 10px;
}

.itemtype{
  margin: 10px 0px 0px 10px;
  padding: 6px 10px;
  border-radius: 30px;
  content: "Editorial";
}

.listtitle::before{
  content: "\25BC";
}
